
<h1 class="title">TX-Dashboard title</h1>
<h2 class="subtitle">TX-Dashboard subtitle</h2>


<!-- Just debugging for now -->
<!-- TODO implement proper routing using router-outlet -->
<button class="button" (click)="toggleVisibility('app-items')">Show/Hide Items</button>
<button class="button" (click)="toggleVisibility('app-transactions')">Show/Hide Transactions</button>
<button class="button" (click)="toggleVisibility('app-conversions')">Show/Hide Conversions</button>
<app-items class="section"></app-items>
<app-transactions class="section"></app-transactions>
<app-conversions class="section"></app-conversions>