<div id="conversionsTopDiv">
  <h1 class="title">Conversions Panel</h1>
  <h2 class="subtitle">Conversions Subtitle</h2>

  

<div class="field columns">
  <div class="control column">
    <label class="label">Input Value</label>
    <input class="input is-primary" type="number" placeholder="Value" id="convertValue">
  </div>
  <div class="control column">
    <label class="label">Input Unit</label>
    <input class="input is-primary" type="text" placeholder="Unit-abbreviation" (input)="onConversionChange($event)" id="fromUnit">
    <span id="fromUnitIdentified"></span>
  </div>        
  <div class="control column">
    <label class="label">Desired Unit</label>
    <input class="input is-primary" type="text" placeholder="Unit-abbreviation" (input)="onConversionChange($event)" id="toUnit">
    <span id="toUnitIdentified"></span>
  </div>
  <div class="column">
    <label class="label">Output Results</label>
    <h5 class="title is-5" id="outputResult"></h5>
  </div>
</div>
<button class="button" (click)="validateConversion($event)">Convert!</button>
<button id="hide">Hide</button>

  <table class="table is-hoverable is-fullwidth" id="unitsTable">
    <thead>
      <tr>
        <th *ngFor="let unit of units[0] | keyvalue">{{unit.key | titlecase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of units">
       <td *ngFor="let data of unit | keyvalue">{{ data.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
